.header {
    display : flex;
    /*justify-content: space-between;*/
    align-items: center;
    height: 80px;
    padding : 0 1rem;
}

.search-form {
    margin-left : auto;
    margin-right : 3rem;
    width : 350px;
    max-width: 50%;
}
.second-left {
    background-color: white;
}
.second-right {
    background-color: #666;
    color : white;
}
.second {
    padding : 1rem;
}
.footer {
    padding : 1rem;
    border-top : 1px solid lightgray;
    text-align: center;
}
.modal {
    display : none;
    top : 80px;
}
/*:checked된 상태에서 ~은 형제 태그
            그 중 .test를 택함(여러개이면 다)
            +는 형제태그 중 바로 다음에 나온 하나
*/
#modal-switch:checked ~ .modal {
    display : flex;
}
label[for="modal-switch"] {
    display :flex;
    align-items :center;
    justify-content: center;
    position: absolute;
    top : 1.3rem;
    right : 1rem;
    width: 40px;
    height : 40px;
    cursor: pointer;
}
label[for="modal-switch"]:before {
    content :"❤";
    font-size : 2rem;
    cursor: pointer;
}
#modal-switch:checked ~ label[for="modal-switch"]:before {
    color : palevioletred;
}
#modal-switch,
label[for="modal-switch"] span {
    overflow : hidden;
    position : absolute;
    width : 1px;
    height : 1px;
    opacity :0;
}

@media (min-width : 1024px) {
    .page {
        display : flex;
        flex-wrap: wrap; /*알아서 밑으로 떨어지기*/
    }
    .header {
        width : 100%;        
    }
    .menu {
        width: 100%;
    }    
    .second {
        width: 20%;
    }
    .second-left {
        order :1;
    }
    .second-right {
        order :3;
    }

    .primary {
        width: 60%;
        order :2;
    }
    .footer {
        order :4;
        width: 100%;
    }
}

@media (min-width :1400px) {
    .primary {
        width : calc(100% - 600px);
    }
    .second {
        width : 300px;        
    }
}